* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-base: "Roboto", sans-serif;
  --font-heading: "Roboto Slab", serif;
  font-size: 62.5%;
  --color-primary: #6c933e;
  --color-secondary: #d9e4cc;
  --color-tertiary: #4a4a4a;
  --color-quaternary: #626262;
}

.header {
  background-image: url(../images/cover.jpeg);
  background-size: cover;
  background-position: 85% center;
  background-repeat: no-repeat;
  min-height: 100dvh;
  padding-bottom: 3rem;
}

.menu {
  background-color: var(--color-primary);
  padding: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.hero {
  padding-top: 50rem;
  padding-inline: 13rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: justify;
  align-items: center;
}

.hero__title {
  font-family: var(--font-heading);
  font-size: 3rem;
  line-height: 5rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-indent: 2rem;
  padding-bottom: 2rem;
}

.hero__paragraph {
  font-family: var(--font-base);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  color: #ffffff;
  padding-bottom: 3rem;
  text-indent: -1rem;
  text-wrap: balance;
}

.hero__scroll {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll_img {
  fill: var(--color-primary);
}

.main__aboutstore {
  margin-inline: 1.3rem;
  margin-top: 3rem;
  text-wrap: balance;
}

.main__title {
  color: var(--color-primary);
  font-size: 1.4rem;
  font-family: var(--font-base);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 3rem;
}

.article__title {
  font-size: 2.2rem;
  font-family: var(--font-heading);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.article__paragraph {
  font-size: 1.8rem;
  font-family: var(--font-base);
  font-weight: 400;
  line-height: 3rem;
  color: var(--color-tertiary);
  text-align: justify;
  margin-bottom: 4rem;
}

.purchase__button {
  display: inline-block;
  background-color: #ffffff;
  border: 0.2rem solid var(--color-primary);
  color: var(--color-primary);
  text-decoration: none;
  font-size: 2rem;
  font-family: var(--font-base);
  font-weight: 400;
  border-radius: 4rem;
  padding: 1rem 4rem;
  margin-bottom: 3rem;
}

.main__productlinks {
  background-color: var(--color-secondary);
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 10% 70% 5%;
  gap: 2rem;
  align-items: center;
  text-align: center;
}

.products__title1 {
  font-size: 1.2rem;
  color: var(--color-quaternary);
  font-family: var(--font-heading);
  font-weight: bold;
  line-height: 3rem;
}

.products__title2 {
  font-size: 2rem;
  color: #000000;
  font-family: var(--font-heading);
  font-weight: bold;
  line-height: 3rem;
  text-transform: uppercase;
}

.product__img {
  width: 12rem;
  height: 13rem;
  border-radius: 50%;
  filter: drop-shadow(0 0.2rem 0.4rem rgba(0, 0, 0, 0.3));
}

.img__title {
  font-size: 1.4rem;
  color: #000000;
  font-family: var(--font-heading);
  font-weight: bold;
  line-height: 3rem;
}

.startnow__button {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 2rem;
  font-family: var(--font-base);
  font-weight: 400;
  border-radius: 4rem;
  padding: 1rem 4rem;
}

.footer {
  background-color: var(--color-tertiary);
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
  position: relative;
}

.backtohero__arrow {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: inline-block;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
}

.footer__links {
  padding-bottom: 2rem;
}

.footer__social {
  padding-bottom: 2rem;
}

.link__item {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
}

.footer__copy {
  color: #ffffff;
  font-family: var(--font-base);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3rem;
}

.footer__transfrom {
  color: #ffffff;
  font-family: var(--font-base);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3rem;
}

@media (width>768px) {
  .header {
    background-position: 75% center;
    background-size: 120%;
  }

  .hero {
    padding-top: 50rem;
    padding-inline: 50rem;
  }

  .hero__title {
    font-size: 7.5rem;
    line-height: 10rem;
    text-indent: 4rem;
    padding-bottom: 4rem;
  }

  .hero__paragraph {
    line-height: 2.8rem;
    font-size: 2.4rem;
    padding-bottom: 4rem;
    width: 70%;
  }

  .main__aboutstore {
    margin-inline: 5rem;
    margin-block: 4rem;
  }

  .main__title {
    font-size: 1.6rem;
  }

  .article__title {
    font-size: 3.2rem;
    line-height: 4.5rem;
    margin-bottom: 2rem;
  }

  .article__paragraph {
    font-size: 2rem;
  }

  .purchase__button {
    border: 0.4rem solid var(--color-primary);
    font-weight: 500;
  }

  .main__productlinks {
    padding-top: 3rem;
    min-height: 50dvh;
    gap: 0.5rem;
  }

  .products__title2 {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 4.5rem;
  }

  .img__title {
    font-size: 1.8rem;
  }

  .product__container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: start;
    width: 100%;
  }

  .product__container3 {
padding-bottom: 2rem;
  }

  .footer__containers {
    padding top: 3rem;
    padding-inline: 4rem;
    display: flex;
    justify-content: center;
  }

    .footer__links {
    width: 30%;
    list-style: none;
    order: 2;
  }

  .footer__social {
    width: 30%;
    list-style: none;
    order: 3;
  }

  .footer__copy {
    width: 30%;
    order: 1;
    
  }
}

@media (width>1024px) {
}
